.div_slide {
    text-align: center;
    background: #00000030;
    height: 400px;
    max-height: 640px;
    padding-top: 160px;
    font-size: 3em;
    margin-top: 50px;
}

.initial_input {
    display: none;
}

.map_div{
    margin-top: 50px;
    border: 1px solid #00000014;
    padding: 2px;
}

.all_span_style {
    font-size: 1.2em;
    color: blue;
}

.evidence_span_style {
    color: red;
}

.label_style{
    font-size: 0.5em;
}

.evidence_img_style {
    max-height: 575px;
    margin: 0 auto;
}